.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.carousel-controls {
  position: absolute;
}

.images-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100%;
  width: 100%;
  max-width: 700px;
  max-height: 700px;
  object-fit: contain;
}

button {
  padding: 4px 8px;
  margin: 0 340px;
}
